<footer>
    <nav class="rodape">
      <ul>
         <li class="menu-item">Projeto de Web 2</li>
         <li class="menu-item">Rafael Vasconcelos e Wesley Vinícius</li>
      </ul>
  </nav>
</footer>