<header>
    <nav class="topo">
        <ul>
            <li class="menu-item" ><a href="/">Home</a></li>
            <li class="menu-item" ><a href="/cadastroReceita">Cadastrar uma Receita</a></li>
            <li class="menu-item"><a href="/buscaReceitas">Consultar Receitas</a></li>
        </ul>
    </nav>
</header>