<!-- resultados.ejs -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Resultados</title>
</head>

<body>
    <%- include("header.ejs") %>
    <main>
        <h1 class="title">Receitas Encontradas</h1>
        <ul>
            <% receitas.forEach(function(receita) { %>
                <li>
                    <h2>
                        <%= receita.nome %>
                    </h2>
                    <p>
                        <%= receita.descricao %>
                    </p>
                </li>
                <% }); %>
        </ul>
    </main>
    <%- include("footer.ejs") %>
</body>

</html>